<?xml version="1.0" encoding="UTF-8"?>
<!--60秒检查一次配置文件是否有修改，即时生效-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>



    <!--<logger name="thirst-log" additivity="false">-->
    <!--<level value="info"/>-->
    <!--<appender-ref ref="rollingFileAppender"/>-->
    <!--</logger>-->
</configuration>
